<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <!-- Button trigger modal -->
  <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#uploadModel">
      Upload
  </button>
  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#urlModel">
      Url
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="uploadModel" tabindex="-1" role="dialog" aria-labelledby="uploadModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="uploadModelLabel">Picture Upload</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="/img/upload" method="post" enctype="multipart/form-data">
              Select image to upload:
              <input type="file" name="fileToUpload" class="btn btn-secondary" id="fileToUpload">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              <button type="submit" value="Upload Image" name="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

   <!-- Modal -->
   <div class="modal fade" id="urlModel" tabindex="-1" role="dialog" aria-labelledby="urlModelLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="urlModelLabel">Picture Url</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form action="/img/url" method="post" enctype="multipart/form-data">
                <input type="text" class="form-control" placeholder="Url" aria-label="Url">
                <br>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="submit" name="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>

  <% if (Object.keys(values).length > 0) { %>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">%</th>
      </tr>
    </thead>
    <tbody>
      <% let array = Object.keys(values) %>
      <% let iterate = array.length < 10 ? array.length : 10%>
      <% for (var i = 0; i < iterate; i++) {%> 
        <tr>
          <th scope="row"><%= i + 1%></th>
          <td><%= array[i] %></td>
          <td><%= values[array[i]] %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
  <% } %>
  </body>
</html>
